body {
  color: #eee;
  background: #121212;
  width: max-content;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.container {
  margin-top: 10px;
  padding-top: 25px;
  font-family: "Poppins", sans-serif;
  width: 650px;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

img {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  margin-top: unset;
  width: 100px;
}

form {
  margin-bottom: 20px;
  font-size: 18px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.description {
  display: inline-block;
  text-align: right;
  font-size: 24px;
  line-height: 24px;
  padding-left: 9px;
  padding-top: 20px;
  list-style: none;
}

.weatherConditions {
  text-transform: capitalize;
}

.temperature {
  font-size: 34px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-right: 0px;
}

.units {
  position: relative;
  margin-top: 0px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin-top: 6px;
}

.units .active {
  color: #eee;
  text-decoration: none;
  cursor: default;
}

.searchbar {
  border: 1px solid whitesmoke;
  border-radius: 4px;
  height: 35px;
  width: 60%;
  margin: 0px 25px;
  padding: 15px 40px;
  outline: 0;
  background: black;
  color: whitesmoke;
  font-size: 26px;
  text-align: center;
}

.btn {
  background: black;
  font-weight: bolder;
  color: whitesmoke;
  border-radius: 8px;
  padding: 10 40px;
}
.btn:hover {
  cursor: pointer;
}

.row {
  border: 1px solid whitesmoke;
  border-radius: 6px;
  padding: 15px 40px;
  margin-top: 25px;
}

.weather-forecast {
  text-align: center;
  font-size: 20px;
}

.weather-forecast-temp-min {
  opacity: 60%;
}

.created-by {
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 10px;
  margin-top: 40px;
}

.sourceLink {
  color: whitesmoke;
  text-decoration: none;
}

.sourceLink:hover {
  cursor: pointer;
  color: whitesmoke;
}
